<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action " aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">WhatsApp</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Fulano mandou mensagem!</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Instagram</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Ciclano começou a te seguir!</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Instagram</h5>
        <small class="text-muted">3 days ago</small>
      </div>
      <p class="mb-1">Beltrano iniciou um vídeo ao vivo.</p>
    </a>
  </div>
</div>

<footer class="bg-secondary text-white text-center fixed-bottom">

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: NotificationApp
  </div>
  <!-- Copyright -->
</footer>